################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/ARM-Debug-2Beta1905/VSInheritEnvironments.txt
